body {
    margin: 10px 20px;
}

.question {
    padding: 20px 10px;

}

.question .number {
    color: red;
}

.question .header {
    font-weight: bold;
}

#back-button {
	position:absolute;
	top: 20px;
	left: 1%;
	background-color:black;
	color:white;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 40px;
}