body {
    font-family: 'Open Sans', sans-serif;
    color:  #111111;
}
#quiz {
    width:  50%;
    margin:  10% auto;
    padding:  10px 20px 40px 20px;
    border:  1px solid #ececec;
}

.question {
    padding: 1%;
}

.question .number {
    color: red;
}

.question .header {
    font-weight: bold;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 60px;
}

.codeword {
    color: red;
}

div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}